<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Funcionário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Editar Funcionário</h2>
        <form th:action="@{/funcionarios/{id}/editar(id=${funcionarioDTO.id})}" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" th:value="${funcionarioDTO.nome}" required />
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" class="form-control" th:value="${funcionarioDTO.cpf}" required />
            </div>
            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" name="cargo" class="form-control" th:value="${funcionarioDTO.cargo}" />
            </div>
            <div class="form-group">
                <label for="salario">Salário</label>
                <input type="text" id="salario" name="salario" class="form-control" th:value="${funcionarioDTO.salario}" />
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" id="dataNascimento" name="dataNascimento" class="form-control" th:value="${funcionarioDTO.dataNascimento}" />
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" th:value="${funcionarioDTO.email}" />
            </div>
            <h4>Dependentes</h4>
            <div id="dependentes">
                <div th:each="dependente, iter : ${funcionarioDTO.dependentes}">
                    <div class="form-group">
                        <label th:for="'dependenteNome_' + ${iter.index}">Nome do Dependente</label>
                        <input type="text" th:id="'dependenteNome_' + ${iter.index}" th:name="'dependentes[' + ${iter.index} + '].nome'" class="form-control" th:value="${dependente.nome}" />
                    </div>
                    <div class="form-group">
                        <label th:for="'dependenteParentesco_' + ${iter.index}">Parentesco</label>
                        <input type="text" th:id="'dependenteParentesco_' + ${iter.index}" th:name="'dependentes[' + ${iter.index} + '].parentesco'" class="form-control" th:value="${dependente.parentesco}" />
                    </div>
                    <div class="form-group">
                        <label th:for="'dependenteCpf_' + ${iter.index}">CPF</label>
                        <input type="text" th:id="'dependenteCpf_' + ${iter.index}" th:name="'dependentes[' + ${iter.index} + '].cpf'" class="form-control" th:value="${dependente.cpf}" />
                    </div>
                    <div class="form-group">
                        <label th:for="'dependenteDataNascimento_' + ${iter.index}">Data de Nascimento</label>
                        <input type="date" th:id="'dependenteDataNascimento_' + ${iter.index}" th:name="'dependentes[' + ${iter.index} + '].dataNascimento'" class="form-control" th:value="${dependente.dataNascimento}" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#" class="btn btn-secondary" onclick="history.back()">Voltar</a>
        </form>
    </div>
</body>
</html>
