<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Dependente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Detalhes do Dependente</h2>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <td th:text="${dependente.id}"></td>
            </tr>
            <tr>
                <th>Nome</th>
                <td th:text="${dependente.nome}"></td>
            </tr>
            <tr>
                <th>CPF</th>
                <td th:text="${dependente.cpf}"></td>
            </tr>
            <tr>
                <th>Parentesco</th>
                <td th:text="${dependente.parentesco}"></td>
            </tr>
            <tr>
                <th>Data de Nascimento</th>
                <td th:text="${dependente.dataNascimento}"></td>
            </tr>
            <tr>
                <th>Funcionário</th>
                <td th:text="${funcionario.nome}"></td>
            </tr>
        </table>
        <a href="/dependentes" class="btn btn-secondary">Voltar</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
